<template>
  <style>
  .container {
    width: 600px;
    height: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .target-text {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
  }
  .actual-target{
    height: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
  }
  .btn-push {
    margin: 20px auto;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
  position: relative;
  top: 0px;
  font-family: "Open Sans";
  font-size: 25px;
  background: #f7f7f7;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  transition: All 250ms ease;
}
.btn-push:active {
  position: relative;
  top: 5px;
  box-shadow: none !important;
  transition: All 250ms ease;
}
.btn-push.red {
    background: #df4242;
    color: #fff;
    border: 1px solid #a01b1b;
    border-radius: 50%;
    box-shadow: 0px 5px 0px #a01b1b;
    text-shadow: 1px 1px 1px #a01b1b;
  }

.trump-modal{
  width: 600px;
  font-size: 45px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: red;
  visibility: hidden;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.trump-modal.show{
  visibility: visible;
}

.trump-modal img{
  width: 400px;
}

  </style>
  <div class="container">
    <div class="target-text">target:</div>
    <div class="actual-target">not_set</div>
    <div class="btn-push red">destroy</div>
  </div>
  <div class="trump-modal">
    <p>Are U sure ?</p>
    <img src="http://img.wennermedia.com/social/rs-208261-R1244_FEA_Trump_A_SML.jpg" alt="trump's scary face"/>
  </div>
</template>

<script>
  class PanelOfDestruction extends HTMLElement {
    constructor(){
      super();
      this.shadow = this.attachShadow({mode: 'open'});
      this.cacheDOM();
    }
    static get observedAttributes(){ return ['city-to-destroy']; }
    cacheDOM(){
      const importDocument = document.currentScript.ownerDocument;
      const template = importDocument.querySelector('template')
      .content.cloneNode(true);
      this.shadow.appendChild(template);

      this.$target = this.shadow.querySelector('.actual-target');
      const defaultValue = 'XXXXXX';
      this.changeCityName(defaultValue);

      this.$button = this.shadow.querySelector('.btn-push');
      this.$modal = this.shadow.querySelector('.trump-modal');
    }
    connectedCallback(){
      this.$button.addEventListener('click', this.onButtonClick.bind(this));
    }
    onButtonClick(){
      console.log(1);
      if(this.cityName.toLowerCase() ==='washington'){
        this.showTrumpModal();
      }
    }
    showTrumpModal(){
      console.log(2);
      this.$modal.classList.add('show');
    }
    attributeChangedCallback(attribute, oldValue, newValue){
      if(attribute === 'city-to-destroy'){
        this.changeCityName( newValue );
      }
    }
    changeCityName(value){
      this.cityName = value;
      this.$target.textContent = value;
    }
  }

  window.customElements.define('panel-of-destruction', PanelOfDestruction);
</script>
